.main-image {
    width: 100%;
    max-width: 500px;
    height: 800px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
}

.home p {
    margin-bottom: 15px;
    line-height: 1.6;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#f4f4f4;
    color:#333;
}

/* HEADER */

header{
    background:#003366;
    color:white;
    text-align:center;
    padding:20px;
}

.logo{
    width:90px;
}

/* NAVIGATION */

nav{
    margin-top:15px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:18px;
    padding:10px;
}

nav a:hover{
    background:white;
    color:#003366;
    border-radius:5px;
}

/* DARK BUTTON */

#darkModeBtn{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

/* SEARCH CONTAINER */

.search-container{
    width:90%;
    max-width:1000px;
    margin:auto;
    padding:20px;
}

#searchInput,
#yearFilter{
    width:100%;
    padding:15px;
    margin:15px 0;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
}

/* UPLOAD BOX */

.upload-box{
    background:white;
    padding:20px;
    border-radius:10px;
    margin:20px 0;
}

.upload-box button{
    margin-top:10px;
}

/* EXAM GRID */

#examList{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

/* EXAM CARD */

.exam-card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.exam-card:hover{
    transform:translateY(-5px);
}

.exam-card h3{
    color:#003366;
}

/* BUTTON */

button{
    background:#003366;
    color:white;
    padding:12px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:green;
}

/* DARK MODE */

.dark-mode{
    background:#121212;
    color:white;
}

.dark-mode header{
    background:#000;
}

.dark-mode nav a{
    color:white;
}

.dark-mode .exam-card,
.dark-mode .upload-box{
    background:#1e1e1e;
    color:white;
}

.dark-mode #searchInput,
.dark-mode #yearFilter{
    background:#333;
    color:white;
    border:1px solid #666;
}

/* RESPONSIVE */

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    .logo{
        width:70px;
    }

    h1{
        font-size:28px;
    }

}

@media(max-width:480px){

    .search-container{
        width:95%;
    }

    h1{
        font-size:24px;
    }

}



/* MAIN IMAGE FIX */
.main-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin: 15px 0;
    border-radius: 10px;
}

/* PARAGRAPH SPACING FIX */
.home p {
    margin-bottom: 15px;
    line-height: 1.6;
}